table {
    width: 90%; 
    margin: 0 5%; 
    border-collapse: collapse; 
  }

  th {
    padding: 10px;
    border: 2px solid black; 
    background-color: lightgray;
  }


  td {
    width: calc(100% / 7); 
    border: 2px solid black; 
    vertical-align: top;
    padding-top: 5px;
    padding-left: 5px;
    text-align: left;
    height:150px;
    font-size: 20px;
  }
  
caption {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    padding-top:50px;
    padding-bottom: 20px;
}

.month-title {
    background-color: lightgray;
    font-size: 1.2em;
    font-weight: bold;
}

.weekday-title {
    background-color: rgb(77, 101, 46);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.not-current-month {
    color: lightgray;
}

.months {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 90%;
    margin: 0 5%;
    flex-wrap:wrap;
  }
  
  .months li {
    float: left;
  }
  
  .months li a {
    display: block;
    color: black;
    font-size:20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .months li a:hover {
    background-color: rgb(104,139,56);
  }